In [8]:
person_info = {
           "Name":"Zohaib ",
           "Age":25, 
           "City":"Lahore",
            "Hobby":["Book reading", "Painting"]
}
print("Person info:",person_info)

Person info: {'Name': 'Zohaib ', 'Age': 25, 'City': 'Lahore', 'Hobby': ['Book reading', 'Painting']}

In [9]:
inventory = {
    "Laptop":32,
    "Monitor":45,
    "Mouse":50,
    "Keyboard":25
}
print(inventory)

{'Laptop': 32, 'Monitor': 45, 'Mouse': 50, 'Keyboard': 25}

In [12]:
student_grades = {
    "Ahmad": 86,
    "Zainab": 91,
    "Nadia": 75,
    "Taha": 95,
}
total = 0
for grade in student_grades.values():
    total_grade = total+grade
average = total_grade / len(student_grades)
print("Student Grade:", student_grades)
print("Average Grade:", average)

Student Grade: {'Ahmad': 86, 'Zainab': 91, 'Nadia': 75, 'Taha': 95}
Average Grade: 23.75

In [15]:
inventory = {"Laptop": {"quantity": 11, "price": 999.99},
             "Mouse": {"quantity": 20, "price": 29.99},
             "Keyboard": {"quantity": 4, "price": 79.99}}
total_value = sum(d['quantity'] *d['price'] for d in inventory.values())
low_stock = {p: d for p, d in inventory.items()if d['quantity']<=5}
print(f"Total Inventory Value: ${total_value:.2f}")
print(f"Low Stock Items: {low_stock}")

Total Inventory Value: $11919.65
Low Stock Items: {'Keyboard': {'quantity': 4, 'price': 79.99}}

In [20]:
Gradebook = {
    "Alice": {"Math": 90, "Science": 85, "History": 78},
    "Bob": {"Math": 75, "Science": 88, "History": 92},
    "Charlie": {"Math": 95, "Science": 91, "History": 88},
    "Diana": {"Math": 82, "Science": 79, "History": 85}
}
print("Average Gradees:")
averages = {}
for name, grades in Gradebook.items():
    avg = sum(grades.values()) / len(grades)
    averages[name] = avg
    print(name, "=", avg)
subject = "Math"
subject_grades = {name: grades[subject] for name,grades in Gradebook.items()}
highest = max(subject_grades, key=subject_grades.get)
lowest = min(subject_grades, key=subject_grades.get)
print("\nHighest in", subject, ":", highest, "=", subject_grades[highest])
print("Lowest in", subject, ":", lowest,"=", subject_grades[lowest])

Average Gradees:
Alice = 84.33333333333333
Bob = 85.0
Charlie = 91.33333333333333
Diana = 82.0

Highest in Math : Charlie = 95
Lowest in Math : Bob = 75